name: Issue Assign / Unassign Bot

on:
  issue_comment:
    types: [created]

permissions:
  issues: write

jobs:
  assign-handler:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run assign bot
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script-file: ./.ci/issue-assign.js
