name: Integration Test

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run Smoke Test
        run: ./.ci/run_kitcat.sh